*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:'Open Sans';
	color:#006269;
}

html,body{
	margin:0;
	padding:0;
}

body{
	overflow:hidden;
	/*background:url(../images/sample_pattern_blurred.png);
	background-repeat:repeat;
	background-size:50px 50px;*/
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

a{
	text-decoration:none;
}

.wrapper{
	height:100vh;
	width:100vw;
	display:table-cell;
	vertical-align:middle;
}

.main{
	display:table-cell;
	vertical-align:middle;
	height:40vh;
	width:40vw;
	padding-top:50px;
	padding-bottom:50px;
	z-index:999;
	border-bottom:solid #f9c453 5px;
	box-shadow:20%;
	/*border-radius:50px;*/
	/*background:rgba(255,255,255,0.5);*/

}

.main a{
	/*float:left;*/
}

#logo{
	margin:0 auto;
	width:60%;
	
}

.curly{
	float:left;
	height:15vh;
	width:15vw;
	/*border:solid red 2px;*/
	transform:rotate(315deg);
	margin:0;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	/*background:salmon;*/
	z-index:2;
	margin:70px;
}

/*.curly:hover{
	top:-30%;
}*/

.greater{
	float:left;
	height:15vh;
	width:15vw;
	/*border:solid red 1px;*/
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	margin:70px;
}

/*.greater:hover{
	bottom:70%;
	width:40vw;
}*/

.greater .free{
	fill:pink;
}

.greater .border{
	fill:#f9c453;
	transform:scale(0.4,0.4);
	transform-origin:0% -20%;
	


}

.parenthesis{
	float:left;
	transform:rotate(90deg);
	height:20vh;
	width:20vh;
	/*border:solid black 1px;*/
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	z-index:1;
  	margin:70px;
	
}

/*.parenthesis:hover{
	bottom:-7rem;
	left:0rem;
	
}*/

.parenthesis .free{
	fill:none;
}

.parenthesis .border{
	fill:#f9c453;
}

.curly .free{
	fill:rgba(255,255,255,0);
	transform:scale(0.3,1);

}

.curly .border{
	fill:#f9c453;
	transform:scaleX(0.5);
}

.call-to-action{
	display:table-cell;
	vertical-align:middle;
	margin-top:2rem;
	width:60%;
	/*border-radius:solid blue 2px;*/
	height:7rem;
	width:40vw;
	/*background:blue;*/
	z-index:1;
}

.btn-type1{
	min-height:2rem;
	min-width:10rem;
	background:white;
	border:solid #006269 2px;
	color:#006269;
	margin:1rem;
	padding:1rem;
	-o-transition:.15s;
  	-ms-transition:.15s;
  	-moz-transition:.15s;
  	-webkit-transition:.15s;
}

.btn-type1:hover{
	border:solid #006269 2px;
	background:#006269;
	color:white;
}

.row{
	margin-top:2rem;
}

.share-row{
	clear:both;
	margin-top:2rem;
	color:#006269;
}

.share-row i{
	margin:1rem;
}

.fa{
	color:#006269;
	-o-transition:.25s;
  	-ms-transition:.25s;
  	-moz-transition:.25s;
  	-webkit-transition:.25s;
}

.fa:hover{
	color:#f9c453;
}

@media only screen and (max-width:768px){
	.main a{
		float:left;
	}

	.main{
		width:80vw;
		height:80vh;
		background:blur;
	}

	#logo{
		height:7rem;
		width:15rem;
	}


}

@media only screen and (min-width:768px) and (max-width:1100px){
	.row{
		width:100vw;
	}

	.main{
		border:none;
	}
}